.card {
    background: $white;
    border-radius: 8px;
}

h2 {
    margin: 30px 20px;
    font-size: 20px;
    font-family: $InterMedium;
}

.containerInputs {
    position: relative;
    padding: 0 20px;
}

.containerPlacholder {
    text-align: center;
    margin-top: 50px;
}

.default {  // value default
    color: $gray;
}

.cloud {
    width: 200px;
    height: 220px;
}

@media  screen and (min-width: 1400px) {
    .card {
        width: 660px;
        height: 524px;
    }
}

@media  screen and (max-width: 1399px) {
    .card {
        width: 550px;
        height: 524px;
    }
}

@media  screen and (max-width: 650px) {
    .card {
        width: 450px;
        height: 524px;
    }

    .containerPlacholder {
        margin-top: 100px;
    }
    
}

@media  screen and  (max-width: 480px) {
    .card {
        width: 350px;
        height: 500px;
    }
    
}
