.containerSelect {
    position: absolute;
    z-index: 12;
}

.styleIinput {
    width: 252px;
    height: 48px;
    padding: 10px;
    border: 2px solid rgba(128, 131, 164, 0.6);
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.selectCities {
    cursor: pointer;
} 

.selected {
    color: $black;
}

.list > li {
    list-style: none;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
}

ul {
    padding: 10px;
}  

.listCities {
    display: none;
    width: 250px;
    border-radius: 10px;
    background: $white;
    box-shadow: 10px 10px 10px rgba(220, 220, 220, 0.4);
}

.visible {
    display: block;
}

@media  screen and (min-width: 1281px) {
    
}
@media  screen and (max-width: 1280px) {
    
}
@media  screen and (max-width: 1024px) {
    
}
@media  screen and (max-width: 850px) {
    
}
@media  screen and (min-width: 651px) and (max-width: 1280px) {
    
}

@media  screen and (max-width: 650px) {
    .containerSelect {
        left: 100px;
    }
}

@media  screen  and (max-width: 480px) {
    .containerSelect {
        left: 50px;
    }
}


@media  screen and (min-width: 320px) and (max-width: 385px) {
    .containerSelect {
        left: 20px;
    }
}


