@font-face {
    font-family: "Inter-Light";
    src: url('../fonts/Inter-Light.ttf')  format('truetype')
  }

  @font-face {
    font-family: "Inter-Medium";
    src: url('../fonts/Inter-Medium.ttf')  format('truetype')
  }
