@import 'utils/fonts.scss';
@import 'utils/reset.scss';
@import 'utils/vars.scss';
@import 'components/card.scss';
@import 'components/select.scss';
@import 'components/calendar.scss';
@import 'components/weatherDay.scss';

.wrapper {
	position: relative;
	min-height: 100vh;
    background: $blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-top: 100px;
}

.containerPast {
    display: block;
    margin: 100px 30px 30px 30px;
}

.containerWeather {
    display: grid;
    grid-template-columns: repeat(7, 166px);
    gap: 5px;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.containerWeather::-webkit-scrollbar { 
    width: 0px;  
    background: transparent;  
}

.arrows {
    display: grid;
    justify-content: center;
    align-items: center;

    img {
        width: 20px;
        height: 30px;
    }
}

.arrowsOpasity {
  opacity: 0;
}

h1 {
    // margin-bottom: 100px;
    text-align: center;
    color: $white;
    // font-size: 102px;
    font-family: $InterMedium;
    font-style: normal;
    font-weight: 700;
    // line-height: 122px;
}


.arrow {
    float: right;
    margin-top: 5px;
}

.layout {
    display: grid;
    gap: 20px;
    // grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.text {
    color: rgb(128, 131, 164);
}


@media  screen and (min-width: 1281px) {
    h1 {
        margin-bottom: 100px;
        font-size: 102px;
        line-height: 122px;
    }  
  .layout {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media  screen and (max-width: 1280px) {
  .wrapper {
      max-width: 1280px;
      overflow-y: hidden;
  }

  h1 {
    margin-bottom: 100px;
    font-size: 102px;
    line-height: 122px;
} 

  .layout {
      display: grid;
      grid-template-rows: 1fr;
      justify-items: center;
  }
}

@media  screen and (max-width: 1024px) {
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 40px;
    }

  .layout {
    margin-bottom: 80px;
}  
}

@media  screen and (max-width: 650px) {
  .layout {
    margin-bottom: 80px;
}

  .containerPast {
    margin-top: 170px;
}
}

@media  screen and  (max-width: 600px) {
  
}

@media  screen and (max-width: 385px) {

}

